<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= destination ? destination.name : 'Annapurna Circuit' %> - Premium Travel</title>
    <link rel="stylesheet" href="/stylesheets/premium.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark navbar-premium">
        <a class="navbar-brand" href="/home">Premium Travel</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link premium-link" href="/home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link premium-link" href="/wanttogo">My List</a>
                </li>
            </ul>
            <form method="POST" action='/search' class="form-inline my-2 my-lg-0">
                <input class="form-control search-premium mr-sm-2" name="Search" type="search" placeholder="Search destinations..."
                    aria-label="Search">
                <button class="btn btn-premium-outline my-2 my-sm-0" type="submit">Search</button>
            </form>
            <div class="ml-3">
                <span class="text-purple mr-3">Welcome, <%= user.username %></span>
                <a href="/logout" class="btn btn-premium-outline btn-sm">Logout</a>
            </div>
        </div>
    </nav>

    <div class="container-premium fade-in">
        <h1 class="premium-title"><%= destination ? destination.name : 'Annapurna Circuit' %></h1>
        
        <div class="destination-container">
            <div>
                <img src="<%= destination ? destination.image : '/annapurna.png' %>" alt="<%= destination ? destination.name : 'Annapurna Circuit' %>" class="destination-image">
            </div>
            <div class="destination-description">
                <p><%= destination ? destination.description : 'The Annapurna Circuit in Nepal is one of the most spectacular trekking routes in the Himalayas. This challenging 12-21 day journey takes you through diverse landscapes, from subtropical forests to high-altitude deserts, with stunning views of snow-capped peaks including Annapurna I, the 10th highest mountain in the world.' %></p>
                <% if (isInWantToGo) { %>
                    <button id="wanttogo-btn" class="btn btn-danger-premium mt-4 remove-btn" data-destination="Annapurna Circuit">Remove from List</button>
                <% } else { %>
                    <button id="wanttogo-btn" class="btn btn-premium mt-4" data-destination="Annapurna Circuit">Add to Want-to-Go List</button>
                <% } %>
            </div>
            <% if (destination && destination.video) { %>
            <div class="destination-video">
                <iframe src="<%= destination.video %>" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen title="<%= destination.name %> Travel Video"></iframe>
            </div>
            <% } %>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="/javascripts/wanttogo.js"></script>
    <script src="/javascripts/autocomplete.js"></script>
</body>
</html>
