<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= destination ? destination.name : 'Inca Trail to Machu Picchu' %> - Premium Travel</title>
    <link rel="stylesheet" href="/stylesheets/premium.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark navbar-premium">
        <a class="navbar-brand" href="/home">Premium Travel</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link premium-link" href="/home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link premium-link" href="/wanttogo">My List</a>
                </li>
            </ul>
            <form method="POST" action='/search' class="form-inline my-2 my-lg-0">
                <input class="form-control search-premium mr-sm-2" name="Search" type="search" placeholder="Search destinations..."
                    aria-label="Search">
                <button class="btn btn-premium-outline my-2 my-sm-0" type="submit">Search</button>
            </form>
            <div class="ml-3">
                <span class="text-purple mr-3">Welcome, <%= user.username %></span>
                <a href="/logout" class="btn btn-premium-outline btn-sm">Logout</a>
            </div>
        </div>
    </nav>

    <div class="container-premium fade-in">
        <h1 class="premium-title"><%= destination ? destination.name : 'Inca Trail to Machu Picchu' %></h1>
        
        <div class="destination-container">
            <div>
                <img src="<%= destination ? destination.image : '/inca.png' %>" alt="<%= destination ? destination.name : 'Inca Trail to Machu Picchu' %>" class="destination-image">
            </div>
            <div class="destination-description">
                <p><%= destination ? destination.description : 'The Inca Trail to Machu Picchu is one of the world\'s most famous trekking routes. This ancient path winds through stunning Andean landscapes, cloud forests, and Incan ruins, culminating at the breathtaking Machu Picchu citadel. The 4-day journey offers an unforgettable adventure through Peru\'s rich history and natural beauty.' %></p>
                <% if (isInWantToGo) { %>
                    <button id="wanttogo-btn" class="btn btn-danger-premium mt-4 remove-btn" data-destination="Inca Trail to Machu Picchu">Remove from List</button>
                <% } else { %>
                    <button id="wanttogo-btn" class="btn btn-premium mt-4" data-destination="Inca Trail to Machu Picchu">Add to Want-to-Go List</button>
                <% } %>
            </div>
            <% if (destination && destination.video) { %>
            <div class="destination-video">
                <iframe src="<%= destination.video %>" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen title="<%= destination.name %> Travel Video"></iframe>
            </div>
            <% } %>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="/javascripts/wanttogo.js"></script>
    <script src="/javascripts/autocomplete.js"></script>
</body>
</html>
