<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Want-to-Go List - Premium Travel</title>
    <link rel="stylesheet" href="/stylesheets/premium.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark navbar-premium">
        <a class="navbar-brand" href="/home">Premium Travel</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link premium-link" href="/home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link premium-link" href="/wanttogo">My List</a>
                </li>
            </ul>
            <form method="POST" action='/search' class="form-inline my-2 my-lg-0">
                <input class="form-control search-premium mr-sm-2" name="Search" type="search" placeholder="Search destinations..."
                    aria-label="Search">
                <button class="btn btn-premium-outline my-2 my-sm-0" type="submit">Search</button>
            </form>
            <div class="ml-3">
                <span class="text-purple mr-3">Welcome, <%= user.username %></span>
                <a href="/logout" class="btn btn-premium-outline btn-sm">Logout</a>
            </div>
        </div>
    </nav>

    <div class="container-premium fade-in">
        <h1 class="premium-title">My Want-to-Go List</h1>
        
        <% if (wantToGoList && wantToGoList.length > 0) { %>
            <div class="wanttogo-grid">
                <% wantToGoList.forEach(function(dest) { %>
                    <div class="wanttogo-item card-premium">
                        <img src="<%= dest.image %>" alt="<%= dest.name %>" style="width: 100%; height: 200px; object-fit: cover; border-radius: 15px 15px 0 0; margin-bottom: 15px;">
                        <div class="p-3">
                            <h3 class="text-purple mb-2"><%= dest.name %></h3>
                            <p class="text-muted mb-3" style="font-size: 0.9rem;"><%= dest.description.substring(0, 100) %>...</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <% 
                                    let destUrl = '';
                                    if (dest.name === 'Paris') destUrl = '/paris';
                                    else if (dest.name === 'Rome') destUrl = '/rome';
                                    else if (dest.name === 'Bali Island') destUrl = '/bali';
                                    else if (dest.name === 'Santorini Island') destUrl = '/santorini';
                                    else if (dest.name === 'Inca Trail to Machu Picchu') destUrl = '/inca';
                                    else if (dest.name === 'Annapurna Circuit') destUrl = '/annapurna';
                                %>
                                <a href="<%= destUrl %>" class="btn btn-premium-outline btn-sm">View Details</a>
                                <button type="button" class="btn btn-danger-premium btn-sm remove-destination-btn" data-destination="<%= dest.name %>">Remove</button>
                            </div>
                        </div>
                    </div>
                <% }); %>
            </div>
        <% } else { %>
            <div class="empty-state">
                <h2>Your list is empty</h2>
                <p>Start exploring destinations and add them to your Want-to-Go list!</p>
                <a href="/home" class="btn btn-premium mt-4">Explore Destinations</a>
            </div>
        <% } %>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="/javascripts/wanttogo.js"></script>
    <script src="/javascripts/autocomplete.js"></script>
</body>
</html>
